#wellcome{
	width: 100px;
	height: 10px; 
	background-color: red;
	position: relative;
	font-weight: bold;
	animation-name: anime;
	animation-delay: 1s;
	border: 5px dashed black;
	animation-iteration-count: 100;
}
@-webkit-keyframes anime {
0%{transform: rotateY(0deg);}
100%{transform: rotateY(100deg);}
}